.tradeOption__logo {
    margin: 100 100 100 100px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tradeOption__nameANDtickerSymbol {
    margin: 10px 10px 10px 10px ;
}

.tradeOption__tickerSymbol {
    color: white;
    font-weight: 400 !important;
}

.swap__assetInfo {
    margin: 50px 0px 0px 0px;
}