.myPage {
    flex: 1;
    overflow: scroll;
    background-color: #1c1c1c;
    padding-left: 200px;
    padding-right: 800px;
    padding-top: 70px;
    padding-bottom: 200px;
    color: white;
    display: inline;
    
}

.myPage__body {
    background-color: #2d2d2e;
    /* background-color: red; */
    display: inline-block;
    border-radius: 5px;
    padding: 50px 100px 50px 50px;
}

.myPage__buttons {
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    justify-content: space-between;
    margin-top: 30px;

}

.myPage__text {
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
}

.myPage__button1,
.myPage__button2 {
    
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: #56adff !important;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px #56adff(0, 0, 0, 0.75) !important; 
}

.myPage__button1 {
    margin-right: 100px;
}


.myPage__body > h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}


.myPage__body:hover {
    background-color: #373738;
}

.myPage__headline {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.myPage__number {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.myPage__value {
    display: flex;
}

.myPage__usdc {
    padding-top:4px;
    padding-left:2px;   
}

